<style type="text/css">
    style, script, head, link, meta {
        display: none !important;
    }
    body {
        margin: 0 auto;
        padding: 0;
        font-family: Microsoft Yahei, Tahoma, Arial;
        color: #333333;
        background-color: #fff;
        font-size: 12px;
    }

    a {
        color: #00a2ca;
        line-height: 22px;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #00a2ca;
    }

    td {
        font-family: 'Microsoft YaHei';
    }
</style>
<div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">
    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">
        <tbody style="width: 800px;" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">
        <tr>
            <td>
                <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="height: 55px" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000" style="height: 55px">
                    <tbody>
                        <tr>
                        <td height="55" align="center" valign="middle" style="padding-left:20px;border: 0" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">
                            <a href="{{ proxy_url }}" target="_blank" rel="noopener" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">
                                <img src="{{ logo }}" width="250" height="40" alt="{{ rand_from() }}">
                            </a>
                        </td>
                        <td width="703" height="48" colspan="2" align="right" valign="middle" style="padding-right: 20px;">
                            <span style="color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                            <span style="color: rgb(255, 255, 0);"> &nbsp;</span>
                            <a href="{{ proxy_url }}" style="">
                                <span style="color: #00a2ca">首页</span>
                            </a>
                            <span style="color: #fff">&nbsp;|&nbsp;</span>
                            <a href="{{ proxy_url }}" style="color: #00a2ca;" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">视迅置搏</a>
                            <span style="color: #fff">&nbsp;|&nbsp; </span>
                            <a href="{{ proxy_url }}" style="color: #00a2ca;" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">电孑遊戏</a>
                            <span style="color: #fff">&nbsp;| </span>
                            <a href="{{ proxy_url }}" style="color: #00a2ca;" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">旗脾逰找</a>
                            <span style="color: #fff">&nbsp;| </span>
                            <a href="{{ proxy_url }}" style="color: #00a2ca;" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">休俞塞事</a>
                            <span style="color: #fff">&nbsp;| </span>
                            <a href="{{ proxy_url }}" style="color: #00a2ca;" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">帮助中心</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="800" border="0" align="left" cellpadding="0" cellspacing="0" style=" border:1px solid #edecec; border-top:none; border-bottom:none; padding:0 20px;font-size:14px;color:#333333;">
                    <tbody>
                        <tr>
                            <td width="720" height="32" colspan="2" style="padding-left:40px;line-height:32px;padding-top: 20px;">
                                <h1 style=" font-size: 28px; margin: 0; border: 0; padding: 0; line-height: 38px;" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">
                                <span style="color: rgb(25, 25, 25);">欢迎加入很河鋘乐城</span>
                                    <a href="{{ proxy_url }}" style="color: #00a2ca">【点击进入】</a>
                                </h1>&nbsp;请登录 <a href="{{ proxy_url }}">垠河俣乐城</a>&nbsp;立即领取您的超值优惠。
                            </td>
                        </tr>
                        <tr>
                            <td width="720" height="32" colspan="2" style="padding-left:40px; color: #999">
                                <span style="font-weight: bolder;color: #00a2ca">【{{ rand_from() }}】</span>{{ ad }}
                            </td>
                        </tr>
                        <tr>
                            <td width="720" height="32" colspan="2" style="padding-left:40px;">
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="560" border="0" align="Center" valign="middle" cellpadding="0"
                                       cellspacing="0">
                                    <tbody>
                                    <tr style="height:35px;font-weight:bold; background-color:#EDEDED;width:720px; border: 0">
                                        <td align="Center" valign="middle" style="width:36%;padding-left:20px;font-size:12px;border: 0">
                                            {{ rand_from() }}
                                        </td>
                                        <td align="Center" valign="middle" style="width:36%;padding-left:20px;font-size:12px;border: 0">
                                            {{ rand_from() }}
                                        </td>
                                        <td align="Center" valign="middle" style="width:36%;padding-left:20px;font-size:12px;border: 0">
                                            {{ rand_from() }}
                                        </td>
                                    </tr>

                                    <tr style="background-color:#ffffff; border-bottom:1px dashed #e5e5e5;">
                                        {% for line in array_1 %}
                                        <td align="left" valign="middle" style="text-align: center;font-size:12px; padding: 20px 0 0 0; border: 0">
                                            <a href="{{ proxy_url }}">
                                                <img src="{{ line }}" style="width: 100px; height: 100px;" alt="{{ rand_title() }}">
                                            </a>
                                            <br><br>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr style="background-color:#ffffff; border-bottom:1px dashed #e5e5e5;">
                                        {% for line in array_2 %}
                                        <td align="left" valign="middle" style="text-align: center;font-size:12px; padding: 20px 0 0 0; border: 0">
                                            <a href="{{ proxy_url }}">
                                                <img src="{{ line }}" style="width: 100px; height: 100px;" alt="{{ rand_title() }}">
                                            </a>
                                            <br><br>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr style="background-color:#ffffff; border-bottom:1px dashed #e5e5e5;">
                                        {% for line in array_3 %}
                                        <td align="left" valign="middle" style="text-align: center;font-size:12px; padding: 20px 0 0 0; border: 0">
                                            <a href="{{ proxy_url }}">
                                                <img src="{{ line }}" style="width: 100px; height: 100px;" alt="{{ rand_title() }}">
                                            </a>
                                            <br><br>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% for line in range(0, randint(4, 8)) %}
                        <tr>
                            <td width="720" height="32" colspan="2" style="padding-left:40px; color: #999" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">
                                <span style="font-weight: bolder;color: #00a2ca">【{{ rand_from() }}】</span>{{ rand_content() }}
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td width="720" height="14" colspan="2"
                                style="padding:8px 0 28px;color:#999999; font-size:12px;">
                                此为系统邮件请勿回复
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" width="800px" bgcolor="#4d4c4a">
                    <tbody>
                    <tr>
                        <td>
                            <p style="line-height: 22px;font-size: 12px;color: #999;text-align: center;margin-bottom: 0;">如果您不想再接收{{ rand_from() }}的「产品的创建、开通信息通知」邮件，或者需要设置其他人接收，点此
                                <a href="{{ proxy_url }}">取消订阅</a></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" width="800px" bgcolor="#4d4c4a">
                    <tbody>
                    <tr>
                        <td>
                            <p style="line-height: 22px;font-size: 12px;color: #999;text-align: center;margin-top: 0">
                                 <a href="{{ proxy_url }}" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">关于我们&nbsp;</a>|
                                 <a href="{{ proxy_url }}" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">联络我们&nbsp;</a>|
                                 <a href="{{ proxy_url }}" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">加入我们&nbsp;</a>|
                                 <a href="{{ proxy_url }}" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">客服帮助&nbsp;</a>|
                                 <a href="{{ proxy_url }}" class="{{ rand_chars() }} {{ rand_chars() }} {{ rand_chars() }}">常见问题&nbsp;</a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
